<li>
    {{name}}

    <button class="time-to-grub" data-id="{{id}}" data-eatstat="{{eaten}}">
        {{#if eaten}}Chow Button!!{{else}}Share Button!!{{/if}}
    </button>

    <button class="clear-burger" data-id="{{id}}">Remove!</button>
</li>